<div class="show_room">
  <%= image_tag @room.image %>
  <div class="price_form">
    <h3>¥<%= @room.price %>/日</h3>
    <%= form_with model:@reserve_room, url: reserve_room_confirm_path do |f| %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <ul class="price_form_list">
        <li><%= f.label :start_date, "開始日" %></li>
        <li><%= f.date_field :start_date %></li>
        <li><%= f.label :end_date, "終了日" %></li>
        <li><%= f.date_field :end_date %></li>
        <li><%= f.label :people, "人数" %></li>
        <li><%= f.number_field :people, min: 1 %></li>
        <li><%= f.submit "予約する", class: "btn_submit" %></li>
      </ul>
    <% end %>

  </div>
<table class="show_room_table">
  <tr>
    <td rowspan="2", id="user_img">イメージ</td>
    <td><%= @room.name %></td>
  </tr>
  <tr>
    <td><%= @room.address %></td>
  </tr>
  <tr>
    <td colspan="2", id="under_line"><%= @room.introduction %></td>
  <tr>
</table>
</div>
